/*
 +----------------------------------------------------------------------
 | @7788 2016-3-1 13:11:43
 +----------------------------------------------------------------------
 */
html{-webkit-text-size-adjust: 100%;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
fieldset,img{border:0}
table{border-collapse:collapse;border-spacing:0}
li{list-style:none}
a,a:hover{text-decoration:none}
body{
    font-family:"Helvetica Neue", Helvetica, Arial, "Microsoft YaHei","\5fae\8f6f\96c5\9ed1", sans-serif;
    font-weight: normal;
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.borderbox{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
.clearfix{display:block;zoom:1;}
.clearfix:after{content:"";display:block;visibility:hidden;height:0;clear:both;}

/*
 +----------------------------------------------------------------------
 | @7788 2016-03-05 22:38:19
 +----------------------------------------------------------------------
 */
body{
    width: 12rem;
    margin: 0 auto;
    font-size: 14px;
    background-color: #f4f4f6;
    color: #888787;
}

input[type="checkbox"],
input[type="radio"]{
    display: inline-block;
    position: relative;
    overflow: visible;
    border: 0;
    background: 0 0;
    -webkit-appearance: none;
    outline: 0;
    margin-right: .1rem;
    vertical-align: middle;
    width: .64rem;
    height: .64rem;
}
input[type="checkbox"]:before,
input[type="radio"]:before {
    font-family: iconfont!important;
    font-size: 1rem;
    line-height: .64rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: .2px;
    display: block;
    color: rgba(0,0,0,.5);
    color: #18b4ed;
    position: absolute;
    /*top: -22px;
    left: -4px;*/
    color: #dedfe0;
    content: "";
    width: .64rem;
    height: .64rem;
}
input[type="checkbox"]:checked:before,
input[type="radio"]:checked:before {
    content: "";
    color: #18b4ed;
}

input[type="checkbox"]:before,
body input.checkbox:before{
    background: url("../images/input-checkbox-default.png") 0 0 no-repeat;
    background-size: .64rem .64rem;
}
input[type="checkbox"]:checked:before,
body input.checkbox:checked:before{
    background: url("../images/input-checkbox-checked.png") 0 0 no-repeat;
    background-size: .64rem .64rem;
}
input[type="radio"]:before,
body input.radio:before{
    background: url("../images/input-radio-default.png") 0 0 no-repeat;
    background-size: .64rem .64rem;
}
input[type="radio"]:checked:before,
body input.radio:checked:before{
    background: url("../images/input-radio-checked.png") 0 0 no-repeat;
    background-size: .64rem .64rem;
}

.ml20{ margin-left: .32rem;}

/* f-nav */
.f-nav-extend {height: 1.408rem;}
.f-nav { width:12rem; height: 1.408rem; line-height: 1.408rem; background: #fff; position: fixed;z-index: 10; border-bottom: 1px solid #c5c2c2;}
.f-nav h2{text-align: center; font-size: .521rem; font-weight: bold; white-space: nowrap; color: #000000;}
.f-nav-back { position: absolute; top: 0; left: 0;}
.f-nav-back a{width: 1.408rem; height: 1.408rem; display: block;background: url(../images/icon-back.png) no-repeat center center;background-size: .704rem .704rem;}
.f-nav-action{ position: absolute; top: 0; right: .1rem; padding:0 0.16rem;}
.f-nav-action a{ color: #000000; font-size: .434rem}

/* f-button01 */
.f-button01{font-size: .512rem; width: 10.976rem; height: 1.312rem; line-height: 1.312rem; background-color: #e37101; text-align: center; color: #FFF; display: block; margin: 0 auto; border-radius: 0.1rem;}
.f-button01:active{ opacity: .8;}

/* f-button02 */
.f-button02{font-size: .448rem; width: 2.88rem; height: .8rem; line-height: .8rem; background-color: #ff8a16; text-align: center; color: #ffffff;border-radius: 0.1rem; display: inline-block;}
.f-button01:active{ opacity: .8;}

/* f-form01 */
.f-form01-group{
    background-color: #ffffff;
    width: 10.976rem;
    margin: 0 auto;
    border-radius: 0.1rem;
    overflow: hidden;
}
.f-form01-item{
    display:-moz-box;
    display:-webkit-box;
    display:box;
    -moz-box-align:center;
    -webkit-box-align:center;
    box-align:center;
    border-bottom: 1px solid #d9d9da;
    padding: 0.2rem;
    background-color: #ffffff;
}
.f-form01-group .f-form01-item:last-child { border-bottom: 0; }
/*@media screen and (-webkit-min-device-pixel-ratio:2) {
    .f-form01-item{
        border: 0;
        background-position: left bottom;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.5, transparent), color-stop(0.5, #d9d9da), to(#d9d9da));
        background-repeat: repeat-x;
        -webkit-background-size: 100% 1px
    }
    .f-form01-group .f-form01-item:last-child {background: none;}
}*/
.f-form01-label{width: 2.5rem; margin-right: .5rem; padding-left: .5rem; display: inline-block; font-size: .48rem;}
.f-form01-main{
    -moz-box-flex:1;
    -webkit-box-flex:1;
    box-flex:1;
}
.f-form01-other{display: inline-block;}
.f-form01-input100{
    width: 99%;
    border: 0;
    outline: none;
    padding: .2rem 0;
    font-size: .48rem;
}
.f-form01-input50{
    width: 50%;
    border: 0;
    outline: none;
    padding: .2rem 0;
    font-size: .48rem;
}
.f-form01-go{display: inline-block;}
.f-form01-icon-arrow{background:url(../images/icon-arrow-right-30.png) 0 0 no-repeat; background-size: .48rem .48rem; display: block; width: .48rem; height: .48rem;}

/* f-list01 */
.f-list01-group{}
.f-list01{
    background-color: #ffffff;
    display:-moz-box;
    display:-webkit-box;
    display:box;
    -moz-box-align:center;
    -webkit-box-align:center;
    box-align:center;
    border-bottom: 1px solid #d9d9da;
    padding: 0.2rem;
}
/*.f-list01-group .f-list01-item:last-child { border-bottom: 0; }*/
@media screen and (-webkit-min-device-pixel-ratio:2) {
    .f-list01{
        border: 0;
        background-position: left bottom;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.5, transparent), color-stop(0.5, #d9d9da), to(#d9d9da));
        background-repeat: repeat-x;
        -webkit-background-size: 100% 1px
    }
    /*.f-list01-group .f-list01:last-child {background: none;}*/
}
.f-list01-img{display: inline-block; margin-right: .5rem;}
.f-list01-main{
    -moz-box-flex:1;
    -webkit-box-flex:1;
    box-flex:1;
}
.f-list01-other{display: inline-block;}
.f-list01-go{display: inline-block;}
.f-list01-icon-arrow{background:url(../images/icon-arrow-right-30.png) 0 0 no-repeat; background-size: .48rem .48rem; display: block; width: .48rem; height: .48rem;}
.f-list01-icon-arrow-down{background:url(../images/icon-arrow-down.png) 0 0 no-repeat; background-size: .48rem .48rem; display: block; width: .48rem; height: .48rem;}
.f-list01-icon-arrow-up{background:url(../images/icon-arrow-up.png) 0 0 no-repeat; background-size: .48rem .48rem; display: block; width: .48rem; height: .48rem;}
.f-list01-icon-wen{background:url(../images/icon-wen.png) 0 0 no-repeat; background-size: .48rem .48rem; display: block; width: .48rem; height: .48rem;}

/* f-select01 */
.f-select01{
    font-size: .448rem;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: 0;
    padding:.05rem .7rem .05rem .05rem;
    border-radius: 0.2rem;
    color: #fff;
    background:#648feb url(../images/f-select01-arrow.png) right center no-repeat;
    background-size: .64rem .48rem;
}
.f-select01-1{
    background-color: #c1c1c1;
}

/*page10*/
.page10-img{ margin-bottom: 0.896rem;}
.page10-img img{ width: 100%; }
/*==========*/
.page10-form{ margin-bottom: .8rem;}
/* page11 */
/*==========*/
.page11-tab{ height: 1.44rem; line-height: 1.44rem; background-color: #fff;}
.page11-tab a{ width: 6rem; float: left; text-align: center; color: #000; position: relative;}
.page11-tab a.current{color: #fa6544;}
.page11-tab a.current i{ position: absolute; display: block; width: 6rem; height: 2px; bottom: 0; left: 0; background-color: #fa6544;}
/*==========*/
.page11-title01{ height: 1.44rem; line-height: 1.44rem; position: relative; padding-left: 0.64rem; background-color: #f4f4f6;}
.page11-title01 i{ display: block; width: 5px; height: 100%; position: absolute; top: 0; left: 0; background-color: #fb5d38;}
/*==========*/
.page11-title02{ position: relative; padding:.2rem .64rem; background-color: #f4f4f6;}
.page11-title02 i{ display: block; width: 5px; height: 100%; position: absolute; top: 0; left: 0; background-color: #fb5d38;}
.page11-title02-p1{ font-size: .416rem; color: #727272;}
.page11-title02-p2{ font-size: .48rem; color: #585858;}
.page11-title02-p2 span{font-size: .384rem; padding-left: .4rem; margin-left: .2rem;}
.page11-title02-zx{ color: #e5411a; background: url(../images/page11-icon-1.png) 0 center no-repeat; background-size: .32rem .32rem;}
.page11-title02-fjx{ color: #ffa100; background: url(../images/page11-icon-2.png) 0 center no-repeat; background-size: .32rem .32rem;}
/*==========*/
.page11-form02{}
.page11-form02 .f-form01-item{padding: .4rem .5rem;}
.page11-form02 .t-1{ color: #000; font-size: .48rem;}
.page11-form02 .t-2{ color: #727272; font-size: .416rem;}
.page11-form02 .f-form01-other{width: 1rem; display: inline-block;}
/*==========*/
.page11-form03{ margin-bottom: .5rem;}
.page11-form03 .f-form01-item{padding: .4rem .5rem;}
.page11-form03 .t-p1{ padding-left: .5rem; color: #010101; font-size: .48rem; margin-bottom: .1rem;}
.page11-form03 .t-icon1{ background: url(../images/page11-icon-1.png) 0 center no-repeat; background-size: .32rem .32rem;}
.page11-form03 .t-icon2{ background: url(../images/page11-icon-2.png) 0 center no-repeat; background-size: .32rem .32rem;}
.page11-form03 .t-p2{ padding-left: .5rem; font-size: .416rem; color: #727272;}
/*==========*/
.page11-success,
.page11-error{ background-color: #d1fdc8; font-size: .48rem; color: #525151; padding: .16rem .5rem; border-bottom: 1px solid #c1c1c1;}
.page11-success span{ background-color: #6490eb; border-radius: 4px; font-size: .448rem; padding: .08rem .2rem; color: #fff;}
.page11-error span{ background-color: #99b992; border-radius: 4px; font-size: .448rem; padding: .08rem .2rem; color: #fff;}
/*page12*/
.page12-top{ background-color: #c30a12; padding: .32rem;}
.page12-top img{ width: 2.88rem; height: 1.6rem; margin-left: .16rem;}
.page12-top del{ font-size: .64rem; color: #fff;}
/*==========*/
.page12-list01{ margin-bottom: .16rem; border-top: 1px solid #d9d9da; padding: .64rem;}
.page12-list01 .f-list01-main{color: #000;}
/*==========*/
.page12-list02{ background-color: #f4f4f6; padding: .18rem .64rem;}
.page12-list02 .f-list01-main{color: #000;}
/*==========*/
.page12-list03{ padding:.32rem .64rem; background-color: #fff; border-bottom: 1px solid #d9d9da; color: #000; font-size: .416rem; margin-bottom: .16rem;}
.page12-list03 p{ line-height: .64rem;}
/*==========*/
.page12-hb-error{color: #e5411a;}
.page12-hb-success{color: #ff7116;}
.page12-hb-loading{color: #8484fa;}
.page12-hb-loading-tips{ float: right; font-size: .32rem; color: #9c9c9c;}
/*==========*/
.page12-list04{ background-color: #f4f4f6; padding: .18rem .64rem;}
.page12-list04 .f-list01-main{color: #656565;}
/*==========*/
.page12-title01{ height: 1.44rem; line-height: 1.44rem; position: relative; padding-left: 0.64rem; background-color: #fff; color: #000;}
.page12-title01 i{ display: block; width: 5px; height: 100%; position: absolute; top: 0; left: 0; background-color: #fb5d38;}
/*==========*/
.page12-title02{ position: relative; background-color: #fff; padding:.32rem .64rem;}
.page12-title02-line{ display: block; width: 5px; height: 100%; position: absolute; top: 0; left: 0; background-color: #fb5d38;}
.page12-title02 .f-list01{border-bottom: 0; padding-left: 0;}
.page12-title02 .f-list01-main{ color: #000; font-size: .416rem;}
.page12-title02-tips{font-size: .416rem; color: #727272;}
/*=========*/
.page12-submit{ line-height: 1.28rem; border-top: 1px solid #e2e0e0; padding: .32rem .32rem .32rem .5rem; background-color: #f3f3f3; position: fixed; bottom: 0; width: 11.18rem; margin-bottom: 0 auto; text-align: right;}
.page12-submit-fixed-extend{ height: 2.2rem; visibility: hidden;}
.page12-submit a{height: 1.28rem; line-height: 1.28rem; width: 5.4rem; text-align: center; display: inline-block;}
.page12-submit a.t-disable{ background-color: #90908f; margin-left: .1rem;}
.page12-submit .t-info{ float: left; padding: .04rem;}
.page12-submit .t-info p{line-height: .6rem; color: #000;}
.page12-submit .t-info span{ color: #be2b07;}
/*page20*/
.page20-form .f-form01-item{ margin-bottom: .16rem; border-top: 1px solid #d9d9da; height: 1.6rem;}
.page20-form .f-form01-label img{ width: 2.56rem; height: 1.28rem;}
.page20-form .t-24{ font-size: .384rem; color: #666464;}
.page20-form .t-30{ font-size: .48rem; color: #0c0c0c;}
.page20-form .t-money01{ font-size: .384rem;}
.page20-form .t-money01 i{ color: #e5411a; margin-right: .16rem; font-style: normal;}
/*==========*/
.page20-address{background-color: #d1fdc8; height: 2.08rem; margin: .16rem 0;}
.page20-address-empty{ padding-top: .416rem;}
.page20-address-empty a{ width: 5.92rem; height: 1.248rem; display: block; background: url(../images/page20-address-empty.png) 0 0 no-repeat; background-size: contain; margin: 0 auto;}
.page20-address .f-list01{ background:transparent; border-bottom: 0; height: 2.08rem; padding: 0;}
.page20-address .f-list01-main{ padding-left: .64rem;}
.page20-address .f-list01-go{ padding-right: .64rem;}
.page20-address .t-p1{ font-size: .448rem; color: #010101;}
.page20-address .t-p2{ font-size: .416rem; color: #817e7e; padding-top: .16rem;}
.page20-address .t-name,
.page20-address .t-mobile{ padding-left: .8rem; margin-right: .48rem; height: .64rem; display: inline-block; line-height: .64rem;}
.page20-address .t-name{background: url(../images/icon-name.png) left center no-repeat; background-size: .64rem .64rem;}
.page20-address .t-mobile{background: url(../images/icon-mobile.png) left center no-repeat; background-size: .64rem .64rem;}
/*==========*/
.page20-money01{ background-color: #fff; padding:.3rem .6rem; border-top: 1px solid #d9d9da; border-bottom: 1px solid #d9d9da;}
.page20-money01 p{ font-size: .48rem; color: #888787;}
.page20-money01 p span{ float: right; font-size: .448rem; color: #e5411a;}
/*=========*/
.page20-submit{ line-height: 1.28rem; border-top: 1px solid #e2e0e0; padding: .32rem .32rem .32rem .5rem; background-color: #f3f3f3; position: fixed; bottom: 0; width: 11.18rem; margin-bottom: 0 auto;}
.page20-submit-fixed-extend{ height: 2.2rem; visibility: hidden;}
.page20-submit a{float: right; height: 1.28rem; line-height: 1.28rem; width: 5.4rem; text-align: center;}
.page20-submit div{ font-size: .48rem; color: #000;}
.page20-submit div span{ font-size: .448rem; color: #e5411a;}
/*page21*/
.page21-main{ background-color: #fff; border-top: 1px solid #c6c2c3; border-bottom: 1px solid #c6c2c3; padding: 0.32rem 0.64rem; margin-bottom: 0.8rem; font-size: 0.48rem;}
/*==========*/
.page21-radio{ margin-bottom: 0.48rem;}
.page21-radio span{ margin-right: 0.5rem; color: #858384; font-size: .48rem;}
.page21-radio label{margin-right: 0.2rem; font-size: .448rem;}
.page21-radio input:before{background-size: .54rem .54rem;}
.page21-radio input:checked:before{background-size: .54rem .54rem;}
/*==========*/
.page21-text{ width: 100%;}
.page21-text input{ background-color: #f4f4f6; border: 1px solid #8c8c8c; border-radius: 0.1rem; width:10rem; padding: 0.2rem; outline: none;}
/*==========*/
.page21-fixed{position: fixed; bottom: 0; width: 12rem; height: 1.48rem; background-color: #f4f4f6; padding-top: .2rem;}
.page21-fixed-extend{ height: 1.68rem; visibility: hidden;}
/*page22*/
.page22-title{ text-align: center;  padding: .2rem; font-size: .5rem;}
.page22-title span{ padding-right: 5px; }
/*==========*/
.page22-money{ text-align: center; padding: .1rem ; margin-bottom: .4rem; color: #e91716; font-size: .8rem;}
/*==========*/
.page22-info{
    border-top: 1px solid #cecdcd;
    border-bottom: 1px solid #cecdcd;
    background-color: #FFF;
    height: 1.824rem;
    line-height: 1.824rem;
    padding: 0 0.544rem;
    margin-bottom: 0.768rem;
    color: #707070;
    font-size: 0.5rem;
}
.page22-info span{
    float: right;
    color: #3d3d3d;
}

/*page23*/
.page23-list .f-list01{ padding: .224rem; margin-bottom: .256rem; border-top: 1px solid #d9d9da;}
.page23-list .f-list01-go{padding: 0 .3rem;}
.page23-list .t-radio{ width: 1.6rem; text-align: center; margin-left: -.2rem;}
.page23-list .t-info{ font-size: .48rem; color: #000000; padding-bottom: .160rem;}
.page23-list .t-info span{ padding-left: .64rem;}
.page23-list .t-address{ font-size: .384rem;}
.page23-list .t-icon-edit{ width: .96rem; height: .96rem; background: url(../images/icon-edit.png); display: inline-block; background-size: .96rem .96rem;}
/*==========*/
.page23-fixed{position: fixed; bottom: 0; width: 12rem; height: 1.48rem; background-color: #f4f4f6; padding-top: .2rem;}
.page23-fixed-extend{ height: 1.68rem; visibility: hidden;}

/*page24*/
.page24-form .f-form01-item{ margin-bottom: .16rem; border-top: 1px solid #d9d9da; height: 1.6rem;}

/*page25*/
.page25-pay{ margin-bottom: .256rem;}
.page25-pay .f-form01-item{
    -moz-box-align:start;
    -webkit-box-align:start;
    box-align:start;
    padding: .5rem .2rem;
}
.page25-pay .f-form01-label{}
.page25-pay .f-form01-main p{ padding-top: .2rem; font-size: .384rem;}
/*==========*/
.page25-form{ border-top: 1px solid #d9d9da;}
.page25-form .f-form01-item{padding: .5rem .2rem;}
.page25-form .f-form01-label{}
.page25-form .f-form01-input100{ color: #660100;}

/*page26*/
.page26-info{ font-size: .384rem; padding: .16rem .32rem;}
.page26-info p{ padding: .16rem;}
.page26-info p label{padding-right: .32rem;}
.page26-info .t-name{}
.page26-info .t-money span{ color: #ea1717;}
/*==========*/
.page26-type{ border-top: 1px solid #d9d9da;}
.page26-type .f-list01-img{ padding-right: .16rem; padding-left: .224rem;}
.page26-type .f-list01-img img{ width: 1.6rem; height: 1.6rem;}
.page26-type .t-title{ font-size: .384rem; padding-bottom: .08rem; color: #000000;}
.page26-type .t-tips{ font-size: .384rem;}

/*page27*/
.page27-form .f-form01-item{ margin-bottom: .16rem; border-top: 1px solid #d9d9da; height: 1.6rem;}
/*==========page-*/
.page27-sfz{border-top: 1px solid #d9d9da; }
.page27-sfz .f-form01-item{height: 1.6rem;}

/*page30*/
.page30-info{background-color: #d1fdc8; margin: .16rem 0; font-size: .48rem; padding:.2rem .8rem;}
.page30-info span{ color: #000; padding-left: .48rem;}
/*==========*/
.page30-address{background-color: #fff; height: 2.08rem; margin: .16rem 0;}
.page30-address .f-list01{ background:transparent; border-bottom: 0; height: 2.08rem; padding: 0;}
.page30-address .f-list01-main{ padding-left: .64rem;}
.page30-address .f-list01-go{ padding-right: .64rem;}
.page30-address .t-p1{ font-size: .448rem; color: #010101;}
.page30-address .t-p2{ font-size: .416rem; color: #817e7e; padding-top: .16rem;}
.page30-address .t-name,
.page30-address .t-mobile{ margin-right: .48rem; height: .64rem; display: inline-block; line-height: .64rem;}
/*==========*/
.page30-ps{margin-bottom: .16rem;}
.page30-ps .f-form01-main{ text-align: right; color: #000; padding-right: .16rem;}
/*==========*/
.page30-other{padding: .64rem .48rem;}
.page30-other p{ text-align: right; margin-bottom: .16rem;}
.page30-other .t-1{ font-size: .48rem; color: #000;}
.page30-other .t-2{ font-size: .448rem; color: #e5411a;}
.page30-other .t-3{ font-size: .416rem;}
/*=========*/
.page30-submit{ line-height: 1.28rem; border-top: 1px solid #e2e0e0; padding: .32rem .32rem .32rem .5rem; background-color: #f3f3f3; position: fixed; bottom: 0; width: 11.18rem; margin-bottom: 0 auto;}
.page30-submit-fixed-extend{ height: 2.2rem; visibility: hidden;}
.page30-submit a{height: 1.28rem; line-height: 1.28rem; width: 5.4rem; text-align: center; display: inline-block;}
.page30-submit a.t-cancel{ background-color: #e5411a; margin-right: .1rem;}
.page30-submit a.t-pay{ background-color: #e37101; margin-left: .1rem;}

/*page31*/
.page31-list .f-list01{ padding: .224rem; margin-bottom: .256rem; border-top: 1px solid #d9d9da;
    -moz-box-align:start;
    -webkit-box-align:start;
    box-align:start;
}
.page31-list .f-list01-img img{ width: 2.72rem; height: 1.6rem;}
.page31-list .t-title{ font-size: .48rem; color: #000000; padding-bottom: .1rem;}
.page31-list .t-tips{ font-size: .288rem;}
.page31-list .t-red,
.page31-list .t-gray{text-align: right; margin-bottom: .32rem; font-size: .384rem;}
.page31-list .t-red{color: #d9422d;}
.page31-list .t-gray{color: #000000; }
.page31-list .t-money{ text-align: right; margin-bottom: .32rem; font-size: .32rem;}
.page31-list .t-pay{ text-align: right; margin-bottom: .32rem;}
/*==========*/
.page31-button-400{font-size: .608rem; width: 8.96rem; height: 1.28rem; line-height: 1.28rem; background-color: #e5411a; text-align: center; color: #FFF; display: block; margin: 0 auto; border-radius: 0.1rem;}
.page31-button-400:active{ opacity: .8;}
.page31-button-400 i{ background: url(../images/icon-phone.png) left center no-repeat; background-size: .8rem .8rem; padding-left: 1.2rem; font-style: normal;}
/*==========*/
.page31-fixed{position: fixed; bottom: 0; width: 12rem; height: 1.48rem; background-color: #f4f4f6; padding-top: .2rem;}
.page31-fixed-extend{ height: 1.68rem; visibility: hidden;}
/*page40*/
.page40-user .f-list01-img{ padding-right: .16rem; padding-left: .224rem;}
.page40-user .f-list01-img img{ width: 1.6rem; height: 1.6rem;}
.page40-user .t-30{ font-size: .48rem; padding-bottom: .08rem; color: #2ea4fe;}
.page40-user .t-24{ font-size: .384rem; color: #2ea4fe;}
/*==========*/
.page40-tips{ font-size: .416rem; color: #585858; padding:.32rem .48rem; border-bottom: 1px solid #dfdfdf; background-color: #f3f3f3;}
/*==========*/
.page40-list .f-list01-img img{ width: 2.24rem; height: 1.12rem;}
.page40-list .f-list01-main{ font-size: .48rem; color: #000000;}
.page40-list .f-list01-other{ width: 2.5rem; text-align: left;}
.page40-list .t-money{ font-size: .48rem; color: #fa5d38;}

/*page90*/
.page90-form{ margin:1.088rem 0;}
.page90-form-other{ position: relative; width:4rem; display: inline-block;}
.page90-form-other a{border-radius: .1rem; font-size: .4rem; color: #ffffff; position: absolute; top: 0; right: 0; padding: .1rem;}
.page90-form-other a i{ font-style: normal;}
.page90-form-other .t-captcha{}
.page90-form-other .t-captcha-default{ background-color: #e37101;}
.page90-form-other .t-captcha-pull{ background-color: #e37101;}
.page90-form-other .t-captcha-loading{ background-color: #c2ccca;}
.page90-form-other .t-captcha .t-default,
.page90-form-other .t-captcha .t-pull,
.page90-form-other .t-captcha .t-loading{ display: none;}
.page90-form-other .t-captcha-default .t-default,
.page90-form-other .t-captcha-pull .t-pull,
.page90-form-other .t-captcha-loading .t-loading{ display: inline-block;}

/*page91*/
.page91-img{width: 10.976rem; margin: .6rem auto;}
.page91-img img{ width: 100%; }
/*==========*/
.page91-form{margin-bottom: 1.088rem;}
.page91-form-icon{
    width: .7rem;
    height: .7rem;
    margin-right: .2rem;
    display: inline-block;
}
.page91-form-icon-1{ background: url(../images/page91-icon-1.png) center center no-repeat; background-size: .7rem .7rem;}
.page91-form-icon-2{ background: url(../images/page91-icon-2.png) center center no-repeat; background-size: .7rem .7rem;}
.page91-form-icon-3{ background: url(../images/page91-icon-3.png) center center no-repeat; background-size: .7rem .7rem;}
.page91-form-icon-4{ background: url(../images/page91-icon-4.png) center center no-repeat; background-size: .7rem .7rem;}

/*page92*/
.page92-wrap{
    text-align: center;
    width: 12rem;
    position: fixed;
    top: 50%;
    margin-top: -3.2rem;
    left: 50%;
    margin-left: -6rem;
}
.page92-wrap h1{ font-size: 1.28rem; color: #646464;}
.page92-wrap .t-1{ font-size: .448rem; margin-bottom: 1.6rem; padding-top: .16rem;}
.page92-wrap .t-2{ font-size: .384rem; padding-top: .16rem;}
/*==========*/
.page92-close{ background: url(../images/icon-close.png) center center no-repeat; background-size: 1.12rem 1.12rem; width: 1.12rem; height: 1.12rem; position: fixed; top: .32rem; right: .32rem;}
